button#btAceptar {
	background-color:#67bd1c;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.btAceptar:hover {
	background-color:#5cb811;
}
.btAceptar:active {
	position:relative;
	top:1px;
}

button#btCancelar {
	background-color:#d11500;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.btCancelar:hover {
	background-color:#5cb811;
}
.btCancelar:active {
	position:relative;
	top:1px;
}

button#btCrear {
    box-shadow: inset 0px 1px 50px 0px #547794;
    background-color: #49424a;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #484149;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.btCrear:hover {
	background-color:#1e62d0;
}
.btCrear:active {
	position:relative;
	top:1px;
}


button#btEliminar {
	-moz-box-shadow:inset 0px 1px 50px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 50px 0px #f29c93;
	box-shadow:inset 0px 1px 50px 0px #f29c93;
	background-color:#fe1a00;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btEliminar:hover {
	background-color:#ce0100;
}
.btEliminar:active {
	position:relative;
	top:1px;
}


button#btModificar {
	box-shadow: inset 0px 1px 50px 0px #322d32;
    background-color: #2d2d2f;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #334de2;
}
.btModifica:hover {
	background-color:#a20dbd;
}
.btModifica:active {
	position:relative;
	top:1px;
}

button#btConsultar {
	-moz-box-shadow:inset 0px 1px 50px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 50px 0px #f9eca0;
	box-shadow:inset 0px 1px 50px 0px #f9eca0;
	background-color:#dbb611;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #e0b943;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.btConsultar:hover {
	background-color:#ffa600;
}
.btConsultar:active {
	position:relative;
	top:1px;
}
