<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gymtastic</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="prueba.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- BOTONES -->
	
	<div>

  		<button href="#" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>

  		<button href="#" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>

  		<button href="#" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button>

  		<button href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>

  		<button href="#" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span> Modificar</button>

		<button href="#" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-zoom-in"></span> Consultar</button>
  		




  	<div>


	
	

</body>

</html>